.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp

data/*
eda/NCAA-EDA_cache/*
eda/NCAA-EDA_files/*
eda/The_Madness-Jake_Whalen_cache/*
eda/The_Madness-Jake_Whalen_files/*
eda/test_file.R
models/grid_models/*
models/rf_baseline
